
body, input {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4fb;
  }
.navbar {
    padding: 0.3rem 1rem;
    background-color: #E1DFDF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
}

.navbar-brand {
    color: #097670;
    font-weight: bold;
}
.navbar-nav .nav-link {
    font-weight: 500;
    margin-right: 1.5rem;
}

.navbar-nav .nav-link:hover {
    color: #097670;
}

.user-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}


.header-title {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
}

.header-title h1 {
    font-size: 38px;
    font-weight: bold; 
}



/*buatjanji section*/
#buatjanji {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -100px; /* Disesuaikan dari -200px */
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    flex-wrap: wrap;
}

.left, .right {
    width: 48%;
    min-width: 280px;
}

label {
    font-weight: bold;
    display: block;
    font-size: 16px;
    color: #006d5b;
    margin-bottom: 8px;
    text-align: left;
}

select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #555;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    margin-bottom: 16px;
    appearance: none;
}

select {
    height: 40px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23999" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

textarea {
    height: 100px;
    resize: none;
}

.input-wrap {
    position: relative;
    margin-bottom: 1rem;
    z-index: 1;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    border-radius: 5px;
    pointer-events: auto;
  }

.note {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.note i {
    color: #FBBC05;
    margin-right: 8px;
    font-size: 15px;
}
.note span{
    color: #555;
}
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #006d5b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Menambahkan efek transisi */
}

button:hover {
    background-color: #26A072;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    border: 2px solid #097670; /* Border color */
    position: relative;
  }
  
  .popup-icon {
    width: 70px;
    margin-bottom: 15px;
  }
  
  .popup h2 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #097670; /* Title color */
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .popup p {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 1em;
  }
  .close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
  }