body, input {
    font-family: 'Poppins', sans-serif !important;
}
.navbar {
    padding: 0.3rem 1rem !important;
    background-color: #d8c4c4 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 10 !important;
}

.navbar-brand img {
    height: 40px !important;
}

.navbar-brand {
    color: #097670 !important;
    font-weight: bold !important;
}

.navbar-nav .nav-link {
    font-weight: 500 !important;
    margin-right: 1.5rem !important;
}

.navbar-nav .nav-link:hover {
    color: #097670 !important;
}

.user-icon {
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px !important;
    vertical-align: middle !important;
}
